.type-3024 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}
.type-3024 .column {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .type-3024 .column {
    flex-direction: column;
  }
}
.type-3024 .col-md-6 {
  width: 48%;
}
@media (max-width: 768px) {
  .type-3024 .col-md-6 {
    width: 100%;
  }
}
.type-3024 .about-content .sec-title-two h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 20px;
}
.type-3024 .about-content .sec-title-two .border {
  background: #ececec none repeat scroll 0 0;
  display: block;
  width: 50px;
  height: 1px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.type-3024 .about-content ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 0;
}
.type-3024 .about-content ul li {
  list-style: none;
}
.type-3024 .about-content ul li .img-holder picture img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
}
.type-3024 .about-content .text-holder {
  margin-top: 20px;
}
.type-3024 .about-content .text-holder p {
  font-size: 1.1em;
  line-height: 24px;
}
.type-3024 .about-content .text-holder h3 {
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
  transition: all 0.7s ease;
}
.type-3024 .about-content .text-holder h3 span {
  color: #1e90ff;
  text-decoration: underline;
}
.type-3024 .choose-us-content .sec-title-two h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 20px;
}
.type-3024 .choose-us-content .sec-title-two .border {
  background: #ececec none repeat scroll 0 0;
  display: block;
  width: 50px;
  height: 1px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.type-3024 .choose-us-content ul {
  padding: 0;
}
.type-3024 .choose-us-content ul li {
  list-style: none;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.type-3024 .choose-us-content ul li .iocn-holder {
  font-size: 2em;
  margin-right: 15px;
  margin-top: 10px;
}
.type-3024 .choose-us-content ul li .iocn-holder span {
  color: #43c3ea;
}
.type-3024 .choose-us-content ul li .text-holder h4 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  margin-top: 10px;
}
.type-3024 .choose-us-content ul li .text-holder p {
  font-size: 1.1em;
  line-height: 24px;
  margin: 0;
}
